
  
  /* Navbar container */
  .navbar {
    margin: 0;
    padding: 5px 10px; /* Adjust padding as needed */
    background-color: #dd34d5; /* Match the home container */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%; /* Full width */
    box-sizing: border-box;

    position: fixed;      /* Makes the navbar sticky (remains at the top) */
    top: 0;               /* Stick it to the top */
    left: 0;              /* Stick it to the left */


  }
  
  /* Logo styling */
  .navbar-logo img {
    height: 100px;
    width: auto;
  }
  
  /* Navbar links */
  .navbar-links {
    display: flex;
    list-style-type: none;
  }
  
  .navbar-links li {
    margin: 0 15px;
  }
  
  .navbar-links a {
    text-decoration: none;
    color: white;
    font-size: 2rem;
    transition: color 0.3s;
  }
  
  .navbar-links a:hover {
    color: rgb(58, 223, 209); /* Highlight color */
  }
  
  /* Responsive design */
  @media (max-width: 768px) {
    .navbar-links {
      flex-direction: column;
      position: absolute;
      top: 60px;
      right: 0;
      background-color: #030101;
      padding: 10px;
      border-radius: 5px;
      display: none; /* Initially hidden */
    }
  
    .navbar-links li {
      margin: 10px 0;
    }
  
    /* You can add a toggle menu button for mobile here */
  }
  
